/* This is the last CSS loaded - you can destroy incoming formatting! */

/* replace the icon near the title. */ 
header h1 {
    background: url("http://www.nerc.ac.uk/images/logos/nerc/logo.gif") no-repeat scroll 0 0 transparent
}

header a {
    margin: 150px;
    font-size: 70%;
}