BODY
{
	font:			Times New Roman;
}

SPAN.clickable SPAN.clickable_inner
{
	cursor:			pointer;
	border:			solid 1px #FFB5C7;
	background:		#f0f0f0;
	padding-left:	4px;
	padding-right:	4px;
	margin-top:		10px;
	font-weight:	bold;
}

DIV.static_header
{
	margin-top:		0px;
	margin-bottom:	7px
}

SPAN.static_header
{
	padding-left:	4px;
	padding-right:	4px;
	font-weight:	bold;
}

DIV.collapsable_block
{
	margin:			7px 0 8px 30px;
}

SPAN.toggle_children
{
	cursor:			pointer;
	color:			#979797;
	padding-left:	4px;
	padding-right:	4px;
	font-family:	Arial;
	font-size:		x-small;
	font-weight:	normal;
}

INPUT[type=button].menu
{
	background:		#09c;
	border:			0;
	border-right:	solid 2px #bed600;
	font-family:	Century Gothic, Trebuchet MS, Georgia;
	font-size:		15px;
	font-variant:	small-caps;
	color:			#fff;
	cursor:			pointer;
}
