body { 
	padding:50px 100px; 	
	font-family:  Helvetica Neue, Helvetica, sans-serif;
	font-size:14px;
}

input[type='text'] { 
	font-family:  Helvetica Neue, Helvetica, sans-serif;
	font-size: 18px;
	padding: 8px;
	border: solid 1px #E5E5E5;
	outline: 0;
	background: #FFFFFF left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}


h2 {
	font-family:  Helvetica Neue, Helvetica, sans-serif;
	font-size: 35px;
	color: #194877;
	text-decoration: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
}

legend {
	width: 170px;
	font-family:  Helvetica Neue, Helvetica, sans-serif;
	font-size: 25px;
	color: #65A1DB;
	text-decoration: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

a:link {
	font-family:  Helvetica Neue, Helvetica, sans-serif;	
	color: #65A1DB;
	text-decoration: none
}

input:hover, textarea:hover,
input:focus, textarea:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}

.styled-select select {
   background: transparent;
   width: 80px;
	font-family:  Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	padding: 4px;
}

.styled-buttons { 
	font-family:  Helvetica Neue, Helvetica, sans-serif;
	font-size:14px;
	color: #65A1DB;
	padding: 4px;
	border: solid 1px #E5E5E5;
	outline: 0;
	width: 180px;
	background: #FFFFFF left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.styled-buttons2 { 
	font-family:  Helvetica Neue, Helvetica, sans-serif;
	font-size: 20px;
	color: #65A1DB;
	padding: 8px;
	border: solid 1px #E5E5E5;
	outline: 0;
	width: 70px;
	background: #FFFFFF left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.normal {
	font-family:  Helvetica Neue, Helvetica, sans-serif;
	font-size:14px;
}
}
